@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color-red: #DC664C;
	--color-violet: #35348551;
	--color-black: #1d1d1da3;
	--color-green: #e2baa1;

	--font: 'Montserrat', sans-serif;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 600;
	--font-bold: 700;
	--font-black: 900; 
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Mi diseño*/

body {
	font-family: var(--font);
	text-decoration: none;
}

main {
	margin-top: 80px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 36px;

}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 24px 40px;
	border-radius:0 0 20px 20px;
	font-size: 1rem;
	letter-spacing: 4px;
	font-family: var(--font);
	font-weight: var(--font-black);
	color: var(--color-red);
	background-color:  rgba(0, 0, 0, 0.81);
}

nav a {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s;
}

nav a:hover {
	color: #851c05;
}

h2 {
	letter-spacing: 4px;
	font-size: 24px;
	font-family: var(--font);
	font-weight: var(--font-black);
	color: #353485;
}

p {
	font-size: 16px;
	font-family: var(--font);
	font-weight: var(--font-medium);
	color: var(--color-black);
}

h6 {
	font-size: 12px;
}

.headerCreate {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.headerCreate h2 {
	letter-spacing: 4px;
	font-size: 40px;
	font-family: var(--font);
	font-weight: var(--font-black);
	color: #353485;
}

.sectionCards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 24px;
}

.productCard {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 1px solid grey;
	border-radius: 16px;
	text-align: center;
	padding: 16px;
	gap: 8px;
	background:#ffffff;
}

.dashboardBtn,
.btnForm {
	display: flex;
	justify-content: space-evenly;
}

.formCreate form fieldset {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	border: none;
	padding: 0;
}

.complete {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.formCreate label {
	font-weight: var(--font-medium);
}

.formCreate input,
.formCreate textarea,
.formCreate select {
	padding: 8px 24px;
	border: 1px solid var(--color-green);
	border-radius: 16px;
	font-family: var(--font);
}

.btnDelete,
.btnEdit,
.btnCreate,
.btnCrear,
.btnLimpiar {
	background-color: var(--color-green);
	color: #851c05;
	border: none;
	border-radius: 16px;
	padding: 8px 24px;
	text-decoration: none;
	margin-top: auto;
	display: flex;
	gap: 8px;
	justify-content: space-evenly;
	font-family: var(--font);
	font-weight: 600;
}

/*botones*/

.btnEdit:hover,
.btnDelete:hover,
.btnCreate:hover,
.btnCrear:hover,
.btnLimpiar:hover {
	filter: brightness(70%);
	cursor: pointer;
}

.imgOn:hover img {
	filter: brightness(70%);
	cursor: pointer;
}

/*Portada*/

.intro {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.videoIntro {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: 0;
	filter: brightness(50%)
}

.introContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100vh;
	text-align: center;
	z-index: 2;
	color: #ffffff;
}
.btnIntro {
	display: flex;
	justify-content: space-evenly;
	padding: 16px 40px;
	gap: 8px;
	border-radius: 24px;
	border: none;
	background-color: #e2baa1;
	text-decoration: none;
	color: #ffffff;
	font-family: var(--font);
	font-weight: 700;
	transition: all 0.3s ease-in-out;
}

.btnIntro:hover {
	filter: brightness(70%);
	cursor: pointer;
}